In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame, Series

In [4]:
ser1= Series([2,np.nan,4,np.nan,6,np.nan], index=['T','U','V','W','X','Y'])

In [5]:
ser1
ser1

T    2.0
U    NaN
V    4.0
W    NaN
X    6.0
Y    NaN
dtype: float64

In [7]:
ser2= Series(np.arange(len(ser1)), index=['T','U','V','W','X','Y'])

In [8]:
ser2

T    0
U    1
V    2
W    3
X    4
Y    5
dtype: int64

In [9]:
Series(np.where(pd.isnull(ser1),ser2,ser1), index=ser1.index)

T    0
U    1
V    2
W    3
X    4
Y    5
dtype: int64

In [10]:
ser1.combine_first(ser2)

T    0
U    1
V    2
W    3
X    4
Y    5
dtype: int64

In [12]:
dframe_odds = DataFrame({'X':[1,np.nan,3, np.nan],
                        'Y':[np.nan,5,np.nan,7],
                        'Z':[np.nan,9,np.nan,11]})

In [13]:
dframe_even =  DataFrame({'X':[2,np.nan,4, np.nan],
                        'Y':[np.nan,6,np.nan,8]})

In [15]:
dframe_odds

     X    Y     Z
0  1.0  NaN   NaN
1  NaN  5.0   9.0
2  3.0  NaN   NaN
3  NaN  7.0  11.0

In [16]:
dframe_even

     X    Y
0  2.0  NaN
1  NaN  6.0
2  4.0  NaN
3  NaN  8.0

In [17]:
dframe_odds.combine_first(dframe_even)

     X    Y     Z
0  1.0  NaN   NaN
1  NaN  5.0   9.0
2  3.0  NaN   NaN
3  NaN  7.0  11.0