In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [4]:
ser1 = Series([0,1,2],index=['A','B','C'])

In [5]:
ser1

A    0
B    1
C    2
dtype: int64

In [10]:
ser2 = Series([0,1,2,3,4],index=['A','B','C','D','E'])

In [11]:
ser

A    0
B    1
C    2
dtype: int64

In [12]:
ser1+ser2

A    0.0
B    2.0
C    4.0
D    NaN
E    NaN
dtype: float64

In [13]:
ser1*ser2

A    0.0
B    1.0
C    4.0
D    NaN
E    NaN
dtype: float64

In [18]:
dframe1=DataFrame(np.arange(4).reshape(2,2),columns=list('AB'), index=['DEL','MUM'])

In [19]:
dframe1

     A  B
DEL  0  1
MUM  2  3

In [20]:
dframe2=DataFrame(np.arange(9).reshape(3,3),columns=list('ABc'), index=['DEL','MUM','AGR'])

In [21]:
dframe2

     A  B  c
DEL  0  1  2
MUM  3  4  5
AGR  6  7  8

In [29]:
dframe = dframe1*dframe2

In [30]:
dframe

      A   B   c
DEL   0   1   4
MUM   9  16  25
AGR  36  49  64

In [31]:
dframe1.add(dframe2,fill_value=0)

      A   B   c
DEL   0   2   4
MUM   6   8  10
AGR  12  14  16