In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
import matplotlib.pyplot as plt

In [4]:
my_series= Series([10000,20000,30000,40000], index=[0,1,2,3])

In [5]:
my_series

0    10000
1    20000
2    30000
3    40000
dtype: int64

In [6]:
series=pd.DataFrame(my_series)

In [7]:
series

       0
0  10000
1  20000
2  30000
3  40000

In [10]:
my_index=my_series.index

In [11]:
my_index

Index([0, 1, 2, 3], dtype='int64')

In [12]:
my_series2 = Series([10000,20000,30000,40000], index=['A','B','C','D'])

In [13]:
my_index2 = my_series2.index

In [14]:
my_index2

Index(['A', 'B', 'C', 'D'], dtype='object')

In [15]:
my_index2[2]

'C'

In [17]:
my_index2[2: ]

Index(['C', 'D'], dtype='object')