In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
from numpy.random import randn

In [3]:
ser1= Series([10000,20000,30000,40000], index=['A','B','C','D'])

In [4]:
ser1

A    10000
B    20000
C    30000
D    40000
dtype: int64

In [11]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])

In [12]:
print(ser2)

A    10000.0
B    20000.0
C    30000.0
D    40000.0
E        NaN
F        NaN
dtype: float64

In [13]:
ser2['E']=50000

In [14]:
ser2

A    10000.0
B    20000.0
C    30000.0
D    40000.0
E    50000.0
F        NaN
dtype: float64

In [15]:
ser2.reindex(['A','B','C','D','E','F', 'G'], fill_value = 60000)

A    10000.0
B    20000.0
C    30000.0
D    40000.0
E    50000.0
F        NaN
G    60000.0
dtype: float64

In [16]:
ser3= Series(['SF','LA','NYC'], index=[0,5,10])

In [17]:
ser3

0      SF
5      LA
10    NYC
dtype: object

In [18]:
ranger= range(15)

In [19]:
ranger

range(0, 15)

In [23]:
ser3.reindex(ranger, method='ffill')

0      SF
1      SF
2      SF
3      SF
4      SF
5      LA
6      LA
7      LA
8      LA
9      LA
10    NYC
11    NYC
12    NYC
13    NYC
14    NYC
dtype: object

In [29]:
dFrame=DataFrame(randn(25).reshape((5,5)),index=['A','B','C','D','E'],columns=['col1','col12','col3','col4','col5'])

In [30]:
dFrame

       col1     col12      col3      col4      col5
A -0.162828 -0.911477 -0.221606  0.549770 -0.132595
B  0.264094 -1.014760  0.490300  0.441907  1.345178
C  0.532762 -1.753010  0.179571  1.207979  0.584248
D -0.863022  0.295792 -0.814510 -0.700575 -1.075122
E  0.117315  0.417561 -0.490897 -0.837545  0.416837

In [31]:
dFrame2= dFrame.reindex(['A','B','C','D','E','F'])

In [32]:
dFrame2

       col1     col12      col3      col4      col5
A -0.162828 -0.911477 -0.221606  0.549770 -0.132595
B  0.264094 -1.014760  0.490300  0.441907  1.345178
C  0.532762 -1.753010  0.179571  1.207979  0.584248
D -0.863022  0.295792 -0.814510 -0.700575 -1.075122
E  0.117315  0.417561 -0.490897 -0.837545  0.416837
F       NaN       NaN       NaN       NaN       NaN

In [34]:
new_columns = ['col1','col12','col3','col4','col5','col6']
dFrame2.reindex(columns=new_columns)

       col1     col12      col3      col4      col5  col6
A -0.162828 -0.911477 -0.221606  0.549770 -0.132595   NaN
B  0.264094 -1.014760  0.490300  0.441907  1.345178   NaN
C  0.532762 -1.753010  0.179571  1.207979  0.584248   NaN
D -0.863022  0.295792 -0.814510 -0.700575 -1.075122   NaN
E  0.117315  0.417561 -0.490897 -0.837545  0.416837   NaN
F       NaN       NaN       NaN       NaN       NaN   NaN