In [1]:
import numpy as np
import pandas as pd

In [2]:
from pandas import Series, DataFrame

In [3]:
obj=Series([3,6,9,12])

In [4]:
obj

0     3
1     6
2     9
3    12
dtype: int64

In [6]:
obj.values

array([ 3,  6,  9, 12])

In [7]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [8]:
ww1_cas=Series([870000,470000,210000,33000], index=['USA','Russia','India','Italy'])

In [10]:
ww1_cas

USA       870000
Russia    470000
India     210000
Italy      33000
dtype: int64

In [13]:
# Check Which countries has casualities more than 1 million

ww1_cas[ww1_cas>400000]

USA       870000
Russia    470000
dtype: int64

In [15]:
ww1_dict=ww1_cas.to_dict()
ww1_dict

{'USA': 870000, 'Russia': 470000, 'India': 210000, 'Italy': 33000}

In [20]:
for i,value in ww1_dict.items():
    print(i,":",value)

USA : 870000
Russia : 470000
India : 210000
Italy : 33000

In [25]:
df=pd.DataFrame(ww1_cas)

In [26]:
df

             0
USA     870000
Russia  470000
India   210000
Italy    33000

In [30]:
df.columns = ['Casualities']

In [31]:
df

        Casualities
USA          870000
Russia       470000
India        210000
Italy         33000

In [34]:
ww1_series=Series(ww1_dict)

In [35]:
ww1_series

USA       870000
Russia    470000
India     210000
Italy      33000
dtype: int64

In [36]:
ww1_series.index.name='countries'

In [37]:
ww1_series

countries
USA       870000
Russia    470000
India     210000
Italy      33000
dtype: int64

In [38]:
dg=pd.DataFrame(ww1_series)

In [39]:
dg

                0
countries
USA        870000
Russia     470000
India      210000
Italy       33000

In [42]:
dg.columns=['casualities']

In [43]:
dg

           casualities
countries
USA             870000
Russia          470000
India           210000
Italy            33000

In [45]:
dg.notnull()

           casualities
countries
USA               True
Russia            True
India             True
Italy             True